@use "@/styles/breakpoints" as *;

.page {
  padding: calc(72px + env(safe-area-inset-top)) 12px 88px;
}

@include tablet {
  .page {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@include desktop {
  .page {
    padding-right: 20px;
    padding-left: 20px;
  }
}
